name: delete
on:
  workflow_dispatch:
jobs:
  delete:
    name: Delete
    runs-on: ubuntu-latest
    steps:
      - name: Delete repo from host
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
             unalias rm
             rm -rf pub/zteselko/cmsc389T-web-template
