name: update
on:
  push:
    branches: [main]
jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    steps:
      - name: Update deployment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
              cd cmsc389T-web-template
              git pull

